/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #2e2f42;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
}

ul li a {
  display: block;
  padding: 10px 15px;
  background-color: #4e75ff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
}

ul li a:hover {
  background-color: #6c8cff;
}

.main-nav {
  margin: 20px auto;
}

.go-home-link {
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px 15px;
    background-color: #4e75ff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

.go-home-link:hover {
    background-color: #6c8cff;
}